@font-face {
  font-family: 'Cocogoose';
  src: url('./font/Cocogoose.ttf');
}
@font-face {
  font-family: 'Euclid';
  src: url('./font/Euclid.ttf');
}
@font-face {
  font-family: 'Louis';
  src: url('./font/Louis.ttf');
}
@font-face {
  font-family: 'Ranille';
  src: url('./font/Ranille.ttf');
}
